<!-- Additional content for Cinemaworld and Filmworld -->
<div class="additional-content">
    <mat-divider></mat-divider>
    <mat-card *ngIf="moviePrices['cw' + movieId]" class="cinemaworld">
        <mat-card-content class="content-wrapper">
            <div class="provider-name"><strong>Cinemaworld</strong></div>
            <div class="price">{{ moviePrices['cw' + movieId] }}</div>
        </mat-card-content>
    </mat-card>
    <div class="card-gap"></div>
    <mat-card *ngIf="moviePrices['fw' + movieId]" class="filmworld">
        <mat-card-content class="content-wrapper">
            <div class="provider-name"><strong>Filmworld</strong></div>
            <div class="price">{{ moviePrices['fw' + movieId] }}</div>
        </mat-card-content>
    </mat-card>
</div>
