  .additional-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .card-gap {
    margin-top: 1px; /* Adjust as needed */
  }

  .provider-name {
    margin-right: 10px; /* Adjust as needed */
  }

  .content-wrapper {
    display: flex;
    justify-content: space-between;
  }
