<div class="loading-container" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</div>
<ul class="movies">
        <div class="movie-container">
            <mat-card class="movie-card" *ngFor="let movie of movies">
                <mat-card-header class="movie-card-header">
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <mat-card-title>{{movie.title}}</mat-card-title>
                    <mat-card-subtitle>{{movie.year}}</mat-card-subtitle>
                </mat-card-header>
                <img class="movie-card-image" mat-card-image src={{movie.poster}} (error)="handleImageError($event)" alt="Photo of a movie">
                <!-- Additional content for Cinemaworld and Filmworld -->
                <div class="additional-content">
                    <mat-divider></mat-divider>
                    <mat-card class="cinemaworld">
                        <mat-card-content class="content-wrapper">
                            <div class="provider-name"><strong>Cinemaworld</strong></div>
                            <div class="price">{{ moviePrices['cw' + movie.id.substring(2)] }}</div>
                        </mat-card-content>
                    </mat-card>
                    <div class="card-gap"></div>
                    <mat-card class="filmworld">
                        <mat-card-content class="content-wrapper">
                            <div class="provider-name"><strong>Filmworld</strong></div>
                            <div class="price">{{ moviePrices['fw' + movie.id.substring(2)] }}</div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-card>
        </div>
</ul>