<div class="loading-container" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</div>
<ul class="movies">
        <div class="movie-container">
            <mat-card class="movie-card" *ngFor="let movie of movies">
                <mat-card-header class="movie-card-header">
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <mat-card-title>{{movie.title}}</mat-card-title>
                    <mat-card-subtitle>{{movie.year}}</mat-card-subtitle>
                </mat-card-header>
                <img class="movie-card-image" mat-card-image src={{movie.poster}} (error)="handleImageError($event)" alt="Photo of a movie">
                <app-prices [moviePrices]="moviePrices" [movieId]="movie.id.substring(2)"></app-prices>
            </mat-card>
        </div>
</ul>